@model IFM_MES_WebControl.Models.Database.aa0001

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row"><h2 class="col-md-4 col-md-offset-4 text-center">Register</h2></div>
    <div class="row">
        <form class="col-md-4 col-md-offset-4" asp-action="Register" method="post">
            <div class="text-danger">@ViewData["Error"]</div>
            <div class="form-group">
                <label class="control-label" asp-for="aa0001c11">Username</label>
                <input class="form-control" asp-for="aa0001c11" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="aa0001c12">First name</label>
                <input class="form-control" asp-for="aa0001c12" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="aa0001c13">Last name</label>
                <input class="form-control" asp-for="aa0001c13" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="aa0001c14">Email</label>
                <input class="form-control" asp-for="aa0001c14" type="email" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="aa0001c15">Phone</label>
                <input class="form-control" asp-for="aa0001c15" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="aa0001c23">Password</label>
                <input class="form-control" asp-for="aa0001c23" type="password" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="aa0001c24">Confirm password</label>
                <input class="form-control" asp-for="aa0001c24" type="password" />
            </div>
            <div class="form-group">
                <input class="col-md-4 btn btn-default" type="submit" value="Register" />
                <a class="col-md-offset-4 btn btn-default" asp-action="Login">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
