@model IFM_ManufacturingExecutionSystems.Models.MVC.Register

@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IFM_ManufacturingExecutionSystems</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background:linear-gradient(-45deg,#3366ff,#ffffff);">
    <script>
        function createDatabase() {
            var password = prompt("Input your token for create database: ");
            window.location.href = '@Url.Action("Create", "Database")/' + password;
        }
    </script>
    <div class="outer">
        <div class="row middle">
            <div class="card col-md-8 offset-md-2" style="padding: 20px; box-shadow: 0 2px 6px rgba(0,0,0,.2);">
                <form asp-action="Register">
                    <div class="card-title row text-center">
                        <a href="#" class="col-md-4">
                            <img src="https://ifmsolutionsvn.com/wp-content/uploads/2019/12/LogoAI2.png"
                                 style="height:50px;"
                                 alt="IFM-Solutions" />
                        </a>
                        <h1 class="col-md-8 text-shadow-block">Register</h1>
                    </div>
                    <div class="text-danger">@ViewData["Message"]</div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="username" class="control-label">Username</label>
                            <input asp-for="username" class="form-control input-bg" />
                            <span asp-validation-for="username" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="password" class="control-label">Password</label>
                                    <input asp-for="password" class="form-control input-bg" type="password" />
                                    <span asp-validation-for="password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="confirmPassword" class="control-label">Confirm Password</label>
                                    <input asp-for="confirmPassword" class="form-control input-bg" type="password" />
                                    <span asp-validation-for="confirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="firstname" class="control-label">Firstname</label>
                                    <input asp-for="firstname" class="form-control input-bg" />
                                    <span asp-validation-for="firstname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="lastname" class="control-label">Lastname</label>
                                    <input asp-for="lastname" class="form-control" style="background:hsl(210,9%,96%);" />
                                    <span asp-validation-for="lastname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label asp-for="email" class="control-label">Email</label>
                                    <input asp-for="email" class="form-control input-bg" type="email" />
                                    <span asp-validation-for="email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="phone" class="control-label">Phone</label>
                                    <input asp-for="phone" class="form-control input-bg" type="tel" />
                                    <span asp-validation-for="phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer form-group">
                        <div class="row">
                            <button class="btn btn-outline-primary col-md-4" onclick="createDatabase()">Create Database</button>
                            <a class="btn btn-light col-md-4" asp-action="Login">Cancel</a>
                            <input class="btn btn-primary col-md-4" type="submit" value="Register" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - IFM Solutions Company - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>