@model MES_IFM_MVC.Models.Account.aa0001

@{
    ViewData["Title"] = "Register";
}

@section Scripts{
    <script>
        $(function () {
            $("#menu-user").hide();
            $("#btn-login").hide();
        });
    </script>
}
<div class="form-card">
    <h1>Register</h1>
    <form method="post">
        <div class="text-danger">@ViewBag.Message</div>
        <div class="form-group">
            <label asp-for="aa0001c11" class="control-label">Fist Name</label>
            <input asp-for="aa0001c11" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="aa0001c12" class="control-label">Last Name</label>
            <input asp-for="aa0001c12" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="aa0001c13" class="control-label">Email</label>
            <input asp-for="aa0001c13" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="aa0001c14" class="control-label">Tel</label>
            <input asp-for="aa0001c14" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="aa0001c21" class="control-label">Password</label>
            <input type="password" asp-for="aa0001c21" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="aa0001c22" class="control-label">Confirm Password</label>
            <input type="password" asp-for="aa0001c22" class="form-control" />
        </div>
        <div class="form-group" style="text-align:center;">
            <a asp-action="Login" class="btn form-card-btn">Cancel</a>
            <button type="submit" asp-action="/Register" asp-controller="Account" class="btn form-card-btn">Register</button>
        </div>
    </form>
</div>

