* {
  /* box-sizing: border-box; */
}

body {
  font-family: Arial;
  padding: 0px;
  background: #f1f1f1;
  margin: 0px;
}
/* Table container*/
.container {
  width: 100%;
  /* display: table; */
}

.container-col {
  display: flex;
  padding: 20px;
}

/* Header/Blog Title */
.header {
  /* padding: 30px; */
  text-align: center;
  background: white;
}

.header.container {
  /* background: rgb(78, 231, 252); */
  background: linear-gradient(
    180deg,
    #3366ff 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.header h1 {
  font-size: 50px;
  color: #000;
}

.header-link {
  text-align: center;
  vertical-align: middle;
}

.header-logo {
  margin: auto;
  width: auto;
  max-width: 100%;
  display: block;
}

.header-title {
  color: #000;
  text-align: left;
  text-decoration: none;
}
/* Style the top navigation bar */
.topnav {
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  /* z-index: 10000; */
  /* position: fixed; */
  overflow: hidden;
  background: linear-gradient(180deg, #f2f2f2 0%, #82869a 100%);
  border-radius: 6px;
  box-shadow: 5px 5px 5px 5px lightsteelblue;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  /* border: 1px solid #000; */
  border-radius: 5px;
  /* background: linear-gradient(0deg, #f2f2f2, transparent); */
  /* box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.5); */
  margin: 5px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #02020287;
  color: #ff6600;
  text-decoration: underline;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.ico-home{
    background: url('your-image-url.jpg');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/* Table container*/
@media only screen and (max-width: 600px) {
  .container-col {
    width: 100%;
    display: block;
  }
  .header-title h1,
  p {
    text-align: center;
  }
}