<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IFM_ManufacturingExecutionSystems</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/05b68e5bd6.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body style="background:linear-gradient(-45deg,#3366ff,#ffffff);">
    <header>
        <div class="container-fluid" style="padding-bottom:10px;">
            <div class="row text-center" style="line-height:50px;">
                <a href="#" class="col-md-4">
                    <img src="https://ifmsolutionsvn.com/wp-content/uploads/2019/12/LogoAI2.png"
                         style="height:50px;"
                         alt="IFM-Solutions" />
                </a>
                <h1 class="col-md-8">
                    Manufacturing Execution Systems
                </h1>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li><a class="btn btn-menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="btn-group btn-menu">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Tasks
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Planning</a>
                                <a class="dropdown-item" href="#">Actual</a>
                                <a class="dropdown-item" href="#">Processing</a>
                            </div>
                        </li>
                        <li class="btn-group btn-menu">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Machines
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Add new machine</a>
                                <a class="dropdown-item" href="#">Update machine</a>
                                <a class="dropdown-item" href="#">Show machines</a>
                            </div>
                        </li>
                        <li class="btn-group btn-menu">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Users &amp; Roles
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">Users</div>
                                <a class="dropdown-item" href="#">Add new user</a>
                                <a class="dropdown-item" href="#">Update user</a>
                                <a class="dropdown-item" href="#">Show users</a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-header">Roles</div>
                                <a class="dropdown-item" href="#">Add new role</a>
                                <a class="dropdown-item" href="#">Update role</a>
                                <a class="dropdown-item" href="#">Show roles</a>
                            </div>
                        </li>
                        <li class="btn-group btn-menu">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Masters
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Work shift</a>
                                <a class="dropdown-item" asp-controller="Status" asp-action="Index">Status</a>
                                <a class="dropdown-item" href="#">Site</a>
                            </div>
                        </li>
                        <li class="float-md-right">@ViewData["Username"]</li>
                        <li><a class="btn btn-menu" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - IFM Solutions Company - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

</body>
</html>
