<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IFM_MES_WebControl</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <div class="row text-center" style="line-height:50px; background:linear-gradient(#3366ff,#ffffff)">
            <a href="#" class="col-md-4">
                <img src="https://ifmsolutionsvn.com/wp-content/uploads/2019/12/LogoAI2.png"
                     style="height:50px;"
                     alt="IFM-Solutions" />
            </a>
            <h2 class="col-md-8">
                Manufacturing Execution Systems
            </h2>
        </div>
    </div>

    <nav class="navbar navbar-default bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menubar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background:#3366ff;"></span>
                    <span class="icon-bar" style="background:#3366ff;"></span>
                    <span class="icon-bar" style="background:#3366ff;"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
            </div>
            <div id="menubar" class="navbar-collapse collapse" aria-expanded="false" style="height:1px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Working Status<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Planning</a></li>
                            <li><a href="#">Actual</a></li>
                            <li><a href="#">Processing</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Machine<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Add new machine</a></li>
                            <li><a href="#">Update machine</a></li>
                            <li class="divider"><</li>
                            <li><a href="#">Machine detail</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Master<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Status</a></li>
                            <li><a href="#">Work shift</a></li>
                            <li><a href="#">Process</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Users<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Users</li>
                            <li><a href="#">Add new user</a></li>
                            <li><a href="#">Update user</a></li>
                            <li><a href="#">Users detail</a></li>
                            <li class="divider"><</li>
                            <li class="dropdown-header">Roles</li>
                            <li><a href="#">Add new role</a></li>
                            <li><a href="#">Update role</a></li>
                            <li><a href="#">Roles detail</a></li>
                        </ul>
                    </li>
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="navbar-fixed-bottom text-right" style="margin-right:10px;">
        <h4 style="color:#3366ff; text-shadow:5px 5px 5px #000000;">&copy; 2020 - IFM Solutions Company</h4>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
